<h4>Admins</h4><br>

<table class="table table-dark" style="background-color:#484e54;"">
  <%= link_to("Novo Administrador", new_admin_admin_path, class: "btn btn-success mb-3") %>
  
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Creado em</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <th scope="row"><%= admin.id %></th>
        <td><%= admin.name %></td>
        <td><%= admin.email %></td>
        <td><%= admin.created_at %></td>
        <td>
            <%= link_to 'Editar', edit_admin_admin_path(admin), class: 'btn btn-warning btn-sm ml-2' %>
            <%= link_to 'Deletar', admin_admin_path(admin), method: :delete, data: {confirm:'Deseja excluir este regristro?'}, class: 'btn btn-danger btn-sm ml-2' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>